<header class="navbar-container">
    <div>
        <img src="assets/logo.svg" alt="">
    </div>
    <div class="navbar-items">
        <span>
            <mat-icon>settings</mat-icon>
        </span>
        <span>
            <mat-icon>notifications</mat-icon>
        </span>
        <span>
            <mat-icon>person</mat-icon>
        </span>
        <span>
            John Doe
        </span>
        <span (click)="logout()">
            <mat-icon>logout</mat-icon>
        </span>
    </div>
</header>