<header class="navbar">
    <img src="assets/logo.svg" alt="bell-icon" class="icon__medium">
    <nav class="navbar__links">
        <a *ngFor="let route of routes"
            [routerLink]="route.path[0]" class="navbar__link" routerLinkActive="navbar__link--active"
            [routerLinkActiveOptions]="{ exact: true }">
            <h1>{{ route.label}}</h1>
        </a>
    </nav>
    <div class="navbar__icons">
        <button (click)="logout()">
            <mat-icon class="text-[#68217A]">logout</mat-icon>
        </button>
    </div>
</header>