.page-heading {
  margin: 1rem 0;
  font-size: 1.5rem;
  font-weight: 500;
}

.action-section {
  // margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .action-search {
    position: relative;
  }

  .primary-button {
    display: flex;
    gap: 0.5rem;
    background-color: #0455bf;
    color: white;
    font-weight: 500;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
  }
}
