<div style="height: 4px">
  <!-- *ngIf="config?.tableState === 'LOADING'" -->
</div>

<div class="no-scrollbar" [ngStyle]="getTableContainerStyle()">
  <mat-progress-bar
    *ngIf="config?.tableState === 'LOADING'"
    mode="indeterminate"
    style="width: 100%; height: 4px"
  >
  </mat-progress-bar>
  <table
    [id]="config?.id"
    mat-table
    matSort
    [dataSource]="dataSource"
    aria-label="Table"
    [matSortDisabled]="!dataSource.data.length"
  >
    <!-- Dynamic column definition -->

    <ng-container *ngFor="let column of columns" [matColumnDef]="column.id">
      <th mat-header-cell *matHeaderCellDef class="table-header font-normal">
        {{ column.label | uppercase }}
      </th>

      <td mat-cell *matCellDef="let row" class="table-cell">
        <div [class]="column?.cellClass" [style]="column?.style">
          <span
            *ngIf="!widgetTemplates[column?.id]"
            [class]="column?.labelClass"
            >{{ row[column?.id] }}</span
          >
          <pp-widget
            *ngIf="widgetTemplates[column?.id]"
            [ppTemplate]="widgetTemplates[column?.id]"
            [value]="row"
          ></pp-widget>
        </div>
      </td>
    </ng-container>

    <!-- <ng-container matColumnDef="actions" *ngIf="config?.actions?.show">
            <th mat-header-cell *matHeaderCellDef [style]="config?.actions?.header?.style"
                [class]="config?.actions?.header?.class">
                <ng-container *ngIf="!widgetTemplates['actionsHeading']">{{
                    config?.actions?.headerLabel
                    }}</ng-container>
                <pp-widget *ngIf="widgetTemplates['actionsHeading']" [ppTemplate]="widgetTemplates['actionsHeading']">
                </pp-widget>
            </th>
            <td mat-cell *matCellDef="let row" class="px-2">
                <pp-widget [ppTemplate]="widgetTemplates?.actions" [value]="row" [class]="config?.actions?.class"
                    [style]="config?.actions?.style"></pp-widget>
            </td>
        </ng-container> -->

    <!-- Column headers -->
    <tr
      mat-header-row
      *matHeaderRowDef="getDisplayedColumns()"
      class="table-header-row"
    ></tr>
    <tr
      mat-row
      *matRowDef="let row; columns: getDisplayedColumns()"
      class="table-row"
    ></tr>

    <ng-container *ngIf="config?.footer">
      <tr mat-footer-row *matFooterRowDef="['footer']"></tr>
    </ng-container>
  </table>

  <div
    class="text-center my-4 mx-2"
    *ngIf="
      config?.tableState !== 'LOADING' &&
      config?.tableState !== 'FAILURE' &&
      dataSource.data?.length === 0
    "
  >
    <!-- {{ "error.no_data" | translate }} -->
    No Data Found
  </div>
  <div
    class="mat-error text-center my-4 mx-2"
    *ngIf="config?.tableState === 'FAILURE' && dataSource.data?.length === 0"
  >
    <!-- {{ "error.something_wrong" | translate }} -->
      Something Went Wrong
  </div>
</div>

<pp-paginator
  *ngIf="config?.paginator?.hide === false"
  (page)="onPage($event)"
  class="sticky-paginator"
  [length]="10"
  [pageSize]="config?.page?.pageSize"
  [pageLength]="dataSource.data.length"
  [pageIndex]="config?.page?.pageIndex"
  showFirstLastButtons
  [tableState]="config?.tableState"
>
</pp-paginator>
